@variant dark (&:where(.dark, .dark *));

@import "./variables.css";

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  body {
    @apply relative font-outfit bg-background text-foreground;
  }
   body {
  @apply relative;
    @apply bg-background text-foreground;
    font-family: Outfit, sans-serif;
  }
}
@import "./layout.css";
@import "./update.css";